* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .center {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2%;
  flex-wrap: wrap;
} */

.center img {
  width: 100%;
  padding: 40px 0;
}

.noticias-wraper-1 {
  display: flex;
  width: 90%;
}

.noticia-destaque {
  width: 60%;
  padding-top: 20%;
  border: none;
  position: relative;
}

.noticia-destaque-single {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.noticia-destaque-single h1 {
  padding-top: 200px;
}

.outras-noticias-1 {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.outra-noticia-1-single {
  width: 50%;
  height: 48%;
  padding-top: 28%;
  margin-top: 30%;
  background-position: center;
  border: 2px solid white;
  position: relative;
}

.outra-noticia-1-single h3 {
  padding-top: 50px;
  margin-top: 10px;
  color: black;
}

.text-center p{
   text-align: center;
   color: gray;
}
